#hero{
    background: url(/static/images/mohit-singh-2Zyydg0lDhs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 600px;
    
}



.bg-light{
    background-color: transparent !important;
}

.button{
    
    padding-top: 50px;
    
    

}
.btn-info{
    background-color: transparent !important;
    border-color: transparent !important;
}

.map{
    
    padding-top: 50px;
}

.about{
    width: 500px;
    padding-top: 300px;
    scroll-behavior: smooth;
    
    
}
